
@app-color-dark: #085239;
@app-color-bright: #27a348;
@app-color-light: #becd2b;
@app-color-gray: #999999;

@white: #ffffff;


.top1 {
  margin-top: 1em;
}
.top2 {
  margin-top: 2em;
}
.top3 {
  margin-top: 3em;
}
.bottom2 {
  margin-bottom: 2em;
}

.navbar {
  background-color: @white;
}

.navbar-brand {
  color:@app-color-light;
  font-weight: bolder;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: @app-color-light;
  text-decoration: none;
  background-color: transparent;
}

.navbar-nav > li {
}
.navbar-nav > li > a {
  color: @app-color-light;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: @white;
  background-color: @app-color-light;
  width: 15em;
}

h1 {
  color: @app-color-dark;
}

.app-light {
  color: @app-color-light;
}

.app-bright {
  color: @app-color-bright;
}

.app-gray {
  color: @app-color-gray;
}

.floatright {
  float: right;
}

div .report-summary {
    min-height: 70px;
}
.report-summary ul {
    display: table;
    list-style: none;
    padding: 0;
    table-layout: fixed;
    text-align: center;
}
.report-summary li {
    display: table-cell;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
    width: 8em;
}
.report-summary > ul span {
    color: #7a7a7a;
    display: block;
    font-size: 0.306em;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 0.1em;
}


div .portfolio-summary {
  min-height: 70px;
}

.portfolio-summary h2 {
  float: right;
  clear: both;
}

.portfolio-summary ul {
  clear: both;
  float: right;
  list-style: none;
  padding: 0;
  text-align: right;
}
.portfolio-summary li {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1;
  width: 8em;
  margin-top: 0.3em;
}
.portfolio-summary > ul span {
  color: #7a7a7a;
  display: block;
  font-size: 0.406em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0.1em;
}

.financial-performance {
  font-size: 0.85em;
}

svg {
  display: block;
}

#chart svg {
  height: 500px;
  min-width: 200px;
  min-height: 100px;
  /*
    margin: 50px;
    Minimum height and width is a good idea to prevent negative SVG dimensions...
    For example width should be =< margin.left + margin.right + 1,
    of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */

}
#chart {
}