@import "core";

@media all {
  .page-break	{ display: none; }
}

@media print {
  .page-break	{ display: block; page-break-after: always !important; }
  h1 {
    color: @app-color-dark !important;
    -webkit-print-color-adjust: exact;
  }


}

.nv-point-clips circle {
  display: none !important;
}

@media print
{
}
