@import "core";

.valuation-report h1 {
  font-size: 1.2em;
  clear: both;
}



div .portfolio-summary {
  min-height: 70px;
}

.valuation-report h1 {
  font-size: 1.3em;
  clear: both;
}

.portfolio-summary h2 {
  font-size: 1.3em;
  float: right;
  clear: both;
}

.portfolio-summary ul {
  clear: both;
  float: right;
  list-style: none;
  padding: 0;
  text-align: right;
}
.portfolio-summary li {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  width: 8em;
  margin-top: 0.3em;
}

.portfolio-summary > ul span {
  color: @report-label;
  display: block;
  font-size: 0.406em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0.1em;
}

.valuation-summary-cell div {
  font-size: 1.3em;
}

.valuation-summary-cell ul {
  .property-details-ul;
  width: 100%;
}

.valuation-summary-cell > ul li {
  .property-details-li;
  color:@app-color-light;
  display: table-cell;
  width: 350px;
  margin: 0.8em 5em 1em 1em;
}

.valuation-summary-cell ol {
  list-style: none;
}

.valuation-summary-cell > ul span {
  .property-details-span;
}

.valuation-summary-cell hr {
  margin:0em 2em 4em 0em;
  display: block;
}

valuation-value-row {
  display: block;
  width: 40%;
  max-width: 40% !important;

}

valuation-value {
  font-weight: normal;
  font-size: 0.7em;
  min-width: 5em;
  display: table-cell;
  text-align: right;
}

valuation-value.year {
  font-style: italic;
  color: #7a7a7a;
}

valuation-value.no-value {
  color: red;
}
valuation-label {
  padding-left: 1em;
  color: #7a7a7a;
  font-weight: normal;
  font-size: 0.7em;
  display: table-cell;
  min-width: 8em;
  font-style: italic;
}

client-name {
  font-size: 1em;
}

.property-details-cell ul {
  .property-details-ul;
}
.property-details-cell li {
  .property-details-li;
  display: table-cell;
  text-align: right;
  font-size: 1em;

}

.property-details-cell > ul span {
  .property-details-span;
  font-size: 0.65em;
}

.market-value-table {
  width: 80%;
  text-align: right;
}

.market-value-table table > thead > tr > .warning,
.market-value-table table > tbody > tr > .warning,
.market-value-table table > tfoot > tr > .warning,
.market-value-table table > thead > .warning > td,
.market-value-table table > tbody > .warning > td,
.market-value-table table > tfoot > .warning > td,
.market-value-table table > thead > .warning > th,
.market-value-table table > tbody > .warning > th,
.market-value-table table > tfoot > .warning > t
{
  padding: 2px !important;
}

.page {
  text-align: center;
}
