@import "core";

.valuation-report h1 {
  font-size: 1.3em;
  clear: both;
}



div .portfolio-summary {
  min-height: 70px;
}

.valuation-report h1 {
  font-size: 1.5em;
  clear: both;
}

.portfolio-summary h2 {
  font-size: 1.3em;
  float: right;
  clear: both;
}

.portfolio-summary ul {
  clear: both;
  float: right;
  list-style: none;
  padding: 0;
  text-align: right;
}
.portfolio-summary li {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1;
  width: 8em;
  margin-top: 0.3em;
}

.portfolio-summary > ul span {
  color: @report-label;
  display: block;
  font-size: 0.406em;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0.1em;
}


.valuation-summary-cell a {
  text-align: left;
  margin: 0.8em 1em 1em 1em;
}
.valuation-summary-cell div {
  font-size: 1.3em;
}

.valuation-summary-cell a > span {
  color: #7a7a7a;
  font-size: 0.9em;
}

.valuation-summary-cell ul {
  .property-details-ul;
  width: 100%;
}

.valuation-summary-cell li {
  .property-details-li;
  color:@app-color-light;
  display: table-cell;
  width: 350px;
  margin: 0.8em 5em 1em 1em;
}

.valuation-summary-cell > ul span {
  .property-details-span;
}

.valuation-summary-cell hr {
  margin:0em 2em 4em 0em;
  display: block;
}
valuation-value {
  font-weight: normal;
}

valuation-label {
  color: #7a7a7a;
  font-weight: normal;
  font-size: 0.75em;
}

client-name {
  font-size: 1em;
}



