<img src="http://d361253.u161.fasthit.net/coldfusion/Property/properties/{{p.pcode}}/{{p.photo}}" height="150">

<market-value-chart index="$index"
                    code="p.p_code_current"
                    data="p.chart"></market-value-chart>

<span class="property-details">
<ul class="">
  <li>
    {{p.address}}
  </li>
  <li>
    {{toDate(p.p_purchdate) | date:'dd/MMM/yyyy'}}<span>Purchase Date</span>
  </li>
  <li>
    {{p.p_origcost | noFractionCurrency}}<span>Purchase Price</span>
  </li>
</ul>
</span>
<span class="property-details-cell">
<ul class="">
  <li>
    $35,000<span>Original Net Equity**</span>
  </li>
  <li>$80,000<span>Original Mortgage</span></li>
  <li>$570,000<span>Net Equity</span></li>
  <li>$80,000<span>Mortgage</span></li>
  <li>16.84%<span>Return on Equity</span></li>
  <li>10.14%<span>Return on Investment</span></li>
  <li>$22,164<span>Annual Rent</span></li>
  <li>19.27%<span>Rental Growth</span></li>
</ul>
</span>

<valuation-value ng-repeat="v in p.marketValues">{{v.yearofmarkval | noFractionCurrency}} </valuation-value>
<valuation-label>Market Values</valuation-label><br>
<valuation-value ng-repeat="v in p.marketValues">{{v.marketMedian | noFractionCurrency}} </valuation-value>
<valuation-label>Market Median</valuation-label>
