<hr ng-show="$index > 0">
<img src="http://d361253.u161.fasthit.net/coldfusion/Property/properties/{{p.pcode}}/{{p.photo}}" height="150">

<market-value-chart index="$index"
                    code="p.p_code_current"
                    data="p.chart"></market-value-chart>

<span class="property-details">
<ul class="">
  <li>
    {{p.address}}
  </li>
  <li>
    <span>{{p.p_type}}</span>
  </li>
  <li>
    {{toDate(p.p_purchdate) | date:'dd/MMM/yyyy'}}<span>Purchase Date</span>
  </li>
  <li>
    {{p.p_origcost | noFractionCurrency}}<span>Purchase Price</span>
  </li>
</ul>
</span>
<hr>

<valuation-value-row>
  <valuation-value ng-repeat="v in p.marketValues"
                   ng-class="{true:'no-value', false:''}[v.yearofmarkval===0]">{{v.yearofmarkval | noFractionCurrency}} </valuation-value>
  <valuation-label>Market Values</valuation-label>
</valuation-value-row>
<valuation-value-row>
  <valuation-value ng-repeat="v in p.marketValues"
                   ng-class="{true:'no-value', false:''}[v.marketMedian===0]">{{v.marketMedian | noFractionCurrency}} </valuation-value>
  <valuation-label>Market Median</valuation-label>
</valuation-value-row>
<valuation-value-row>
  <valuation-value ng-repeat="v in p.marketValues"
                   class="year">{{v.year}}</valuation-value>
</valuation-value-row>

<hr>
<span class="row property-details-cell">
<ul class="">
  <li class="col-lg-2" ng-show="p.origMortgage">
    {{p.oriNetEty | noFractionCurrency}}<span>Original Net Equity**</span>
  </li>
  <li class="col-lg-3" ng-show="p.origMortgage">{{p.origMortgage | noFractionCurrency}}<span>Original Mortgage</span></li>

  <li class="col-lg-3" ng-show="p.mortgage">{{p.netEty | noFractionCurrency}}<span>Net Equity</span></li>
  <li class="col-lg-3" ng-show="p.mortgage" >{{p.mortgage | noFractionCurrency}}<span>Mortgage</span></li>

  <li class="col-lg-2" ng-show="p.mortgage" >{{p.rtnOnEty | number:2}}%<span>Return on Equity</span></li>
  <li class="col-lg-2" ng-show="p.mortgage" >{{p.rtnOnIvt | number:2}}%<span>Return on Investment</span></li>

  <li class="col-lg-3">{{p.annualRent | noFractionCurrency}}<span>Annual Rent</span></li>
  <li class="col-lg-2">{{p.rentalGrowth | number:2}}%<span>Rental Growth</span></li>
</ul>
</span>
