<div class="row">

  <h1 class="col-sm-12 col-lg-12"><i class="fa fa-home"></i> Generate valuation reports</h1>


  <a ng-show="!authenticated"
     href="{{VALUATION_PDF_API}}/auth/login?year={{year}}" class="btn btn-primary  btn-lg shortcut-item">
    <i class="fa fa-lock"></i> Login to Valuation Report</a>


  <form class="top2">
    <fieldset>
          <span class="contact-summary-cell">
            <ul class="">
              <li>
                {{year}}<span>Financial Year</span>
              </li>
              <li>
                {{clientCount}}<span> Clients </span>
              </li>
              <li>
                {{propertyCount}}<span> Properties managed by PMS</span>
              </li>
              <li>
                {{marketValueCount}}<span> Market value entry</span>
              </li>

            </ul>
          </span>
      <hr>

      <div class="valuation-summary-cell top2 row">
            <span class="col-sm-6 col-md-4 col-lg-4" ng-repeat="a in actions">
              <ol>
                <li>
                  <h4>Generate {{a.from}} ~ {{a.to}}
                  </h4>
                </li>
                <li ng-repeat="c in clients[$index]">
                  <a ng-click="pdf(year, c.code)"
                     ng-show="authenticated"
                     href="">
                    <i class="fa fa-download"></i> PDF
                  </a>

                  <!-- a ng-click="authenticated"
                     href="{{VALUATION_PDF_API}}/generators?year={{year}}&number={{c.code}}">
                    <i class="fa fa-download"></i> PDF
                  </a -->

                  <a href="#/valuation-report-by-landlord/{{year}}/{{c.code}}">
                    {{c.name | chop:27}}
                  </a>
                </li>
              </ol>

            </span>
      </div>


    </fieldset>
  </form>

  <div class="col-lg-4">
    <p></p>
  </div>
</div>

