<div class="row">

  <h1 class=""><i class="fa fa-home"></i> Generate {{year}} valuation reports</h1>

  <form class=""
        ng-submit="send(year, form.$valid)"
        name="form">

    <p class="text-danger" ng-show="error">
      {{error}}
    </p>

    <div ng-show="!authenticated">
      <a
         href="{{VALUATION_PDF_API}}/auth/login?year={{year}}" class="btn btn-primary btn-lg"
         style="margin-top: 10px; margin-bottom: 10px;">
        <i class="fa fa-lock"></i> Login to Valuation Report</a>
      <p>
        valuations@portfolioms.com.au
        <br>
        Va1uA6i0n!1
      </p>
      <br>
    </div>


    <div ng-show="authenticated">
      <label>
        Test Email to valuations@portfolioms.com.au
        <a target="_blank" href="https://outlook.office.com/owa/?realm=portfolioms.com.au&exsvurl=1&ll-cc=1033&modurl=0">Open
          Outlook</a>
      </label>
      <input ng-model="sending.test"
             type="checkbox" class="form-control" style="width: 5%; margin-bottom: 10px">
    </div>

    <!-- div ng-if="sending.startBy != username"
         class="text-warning">
      <h3>{{sending.startBy}} is running a report process, please wait...</h3>
    </div -->

    <tabset >
      <tab heading="Preview" select="tabSelected('PREVIEW')"
           >
        <fieldset style="margin-top: -1px;">
          <span class="contact-summary-cell">
            <ul class="">
              <li>
                {{year}}<span>Financial Year</span>
              </li>
              <li>
                {{clientCount}}<span> Landlords </span>
              </li>
              <li>
                {{propertyCount}}<span> Properties managed by PMS</span>
              </li>
              <li>
                {{marketValueCount}}<span> Market value entry</span>
              </li>
            </ul>
          </span>
          <hr>
          <div class="valuation-summary-cell top2 row">
            <span class="col-sm-6 col-md-4 col-lg-4" ng-repeat="a in actions">
              <ol>
                <li>
                  <h4>{{a.from}} ~ {{a.to}}</h4>
                </li>
                <li ng-repeat="c in clients[$index]">
                  <a ng-click="pdf(year, c.code)"
                     ng-show="authenticated"
                     href="">
                    <i class="fa fa-download"></i> PDF</a>
                  <a href="#/valuation-report-by-landlord/{{year}}/{{c.code}}">
                    {{c.name | chop:27}}
                  </a>
                </li>
              </ol>

            </span>
          </div>

        </fieldset>
      </tab>
      <tab heading="Edit Email" select="tabSelected('EDIT')">
        <div ng-if="authenticated">
          <button type="button"
                  ng-click="save()"
            class="btn btn-primary btn-lg btm1" style="margin-top: 10px;">
            Save
          </button>
          <fieldset>
            <div ng-include="'views/valuations-by-landlord/send-email-form.html'"></div>
          </fieldset>
        </div>
      </tab>
      <tab heading="Send to a Landlord" ng-if="authenticated" select="tabSelected('LANDLORD')">
        <div ng-if="authenticated">
          <button
            class="btn btn-primary btn-lg btm1" style="margin-top: 10px;">
            Send to a Landlord
          </button>
          <fieldset>
            <label>Select Landlord</label>
            <p class="text-danger" ng-show="requireLandlord">
              Please specify landlord
            </p>
            <input type="text" class="form-control"
                   id="landlordSearch"
                   ng-model="selectedLandlordId"
                   placeholder="Enter landlord name"
                   typeahead="name for name in landlordNames | filter:$viewValue | limitTo:20"
                   typeahead-on-select="selectLandlord($item, $model, $label, $event)"
                   autofocus>

            <label ng-show="selectedLandlord">Landlord </label>
            <p ng-show="selectedLandlord">{{selectedLandlord.name}} <{{selectedLandlord.email}}><br>
              <span ng-show="selectedLandlord.sent" class="text-success">
            <i class="fa fa-thumbs-o-up"></i> sent to {{selectedLandlord.sent}}</span>
            </p>

            <label>Email Content</label>

            <div ng-bind-html="sending.content"
                 style="background-color: #e3e7ed; padding: 3px"></div>
          </fieldset>
        </div>
      </tab>
      <tab heading="Send All" ng-if="authenticated" select="tabSelected('ALL')"
           active="activeTab.ALL">
        <div ng-if="authenticated">
          <div ng-if="sending.status != 'SENDING'">
            <button type="button"
                    ng-show="authenticated"
                    class="btn btn-warning btn-lg btm1"
                    ng-click="sendAll(year, sending, landlordsToSend)"
                    style="margin-top: 20px;">Send All ({{countToSend}} landlords)
            </button>
            <div ng-include="'views/valuations-by-landlord/send-all-status.html'"></div>
          </div>

          <div ng-if="sending.status == 'SENDING'">
            <button type="button"
                    ng-show="authenticated"
                    class="btn btn-warning btn-lg btm1"
                    ng-click="cancelAll(year, sending, landlordsToSend)"
                    style="margin-top: 20px;">Cancel All
            </button>

            <div ng-include="'views/valuations-by-landlord/send-all-status.html'"></div>
          </div>


          <fieldset>

            <label>Email Content</label>

            <div ng-bind-html="sending.content"
                 style="background-color: #e3e7ed; padding: 3px"></div>
          </fieldset>

        </div>
      </tab>

    </tabset>
  </form>

  <div class="col-lg-4">
    <p></p>
  </div>
</div>

