
  <label>
    Test Email to valuations@portfolioms.com.au
    <a target="_blank" href="https://outlook.office.com/owa/?realm=portfolioms.com.au&exsvurl=1&ll-cc=1033&modurl=0">Open Outlook</a>
  </label>
  <input ng-model="sending.test"
         type="checkbox" class="form-control" style="width: 10%;">

  <label>Email Content</label>
  <textarea class="form-control"
            rows="12"
            ng-model="sending.content"></textarea>

  <label>Market Ovewview Link (<a target="_blank" href="https://portfolioms-my.sharepoint.com/personal/valuations_portfolioms_com_au/_layouts/15/onedrive.aspx">Get share link in OneDrive)</a></label>
  <input type="text" class="form-control"
         name="overviewLink" ng-model="sending.overviewLink"
         placeholder="Please enter the overview share link.">
