<p>
  Total landlords: {{sendAllStatus.countLoandlods}}
</p>
<p>
  {{sendAllStatus.countToSend}} to be sent.
</p>
<p ng-if="sendAllStatus.error">Error: {{sendAllStatus.error}}</p>
<p ng-if="sendAllStatus.sending">Sending to {{sendAllStatus.sending.name}}</p>
<p ng-if="sendAllStatus.sent">
  Sent to {{sendAllStatus.sent.name}}</p>
<p>Sent {{sendAllStatus.landlords.length}}</p>
<p>Started at
  {{sendAllStatus.startAt}}</p>
<!-- p>Resume at
  {{sendAllStatus.resumeAt}}</p -->

<!-- p>
  {{sendAllStatus}}
</p -->

<span></span>

