<div class='navigation'>
  Tests:
  <a href="lineChartTest.html">Line Chart</a>
  <a href="stackedAreaChartTest.html">Stacked Area</a>
  <a href="../examples/cumulativeLineChart.html">Cumulative Line</a>
</div>
<div class='chart full' id='chart1'>Full chart example with new tooltip and guideline<button>Select chart</button><svg></svg></div>
<div class='chart half with-transitions' id='chart2'>Chart with old tooltips (with-transitions)<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart3'>Chart with single point<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart4'>Chart with two points<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart5'>Chart with 'holes'<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart6'>Total random points<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart7'>Less than four points, old tooltips<button>Select chart</button><svg></svg></div>
<div class='chart half' id='chart8'>No data<svg></svg></div>
