<div class="row">

  <h1 class="col-lg-12">PMS3 Dashboard</h1>

  <p class="col-lg-12 ">
    Welcome {{userProfile.name}} login at {{userProfile.dateLogin | date:'dd/mm/yyyy hh:mm'}}</p>

  <div class="col-lg-12 bottom2">
    <!-- label for="propertySearch"><i class="icon-search"></i> Find Property</label -->
    <form action="" method="get">
      <input type="text" class="form-control"
             id="propertySearch"
             ng-model="selected"
             placeholder="Enter property code"
             typeahead="code for code in properties | filter:$viewValue | limitTo:20"
             autofocus>
      <button ng-click="loadProperty()"><i class="icon-search btn btn-sucess btn-large"> Find Property</i></button>
    </form>

  </div>

  <div class="col-lg-12 bottom2">
    <label for="clientSearch"><i class="icon-search"></i> Find Client</label>
    <input type="text" class="form-control"
           id="clientSearch" placeholder="Enter client code, name etc."
           >
  </div>

  <div class="col-lg-12 bottom2">

  </div>


  <div class="col-lg-4">
    <a href="#/editProperty"  class="btn btn-primary btn-large btn-block">
      <i class="icon-home"></i> Property</a>
  </div>
  <div class="col-lg-4">
    <a href="#/"  class="btn btn-success btn-large btn-block">
      <i class="icon-user"></i> Client</a>
  </div>
  <div class="col-lg-4">
    <a href="#/"  class="btn btn-info  btn-block btn-large">
      <i class="icon-dollar"></i> Market Value</a>
  </div>

  <div class="col-lg-4 top2">
    <a href="#/"  class="btn btn-warning  btn-block btn-large">
      <i class="icon-user"></i> User</a>
  </div>

  <div class="col-lg-4 top2">
    <input type="text" class="form-control"
           placeholder="Enter client code."
           ng-model="code" >
    <a href="#/valuationReport/{{code}}"  class="btn btn-primary  btn-block btn-large">
      <i class="icon-dollar"></i> Valuation Report</a>

  </div>

  <div class="col-lg-4 top2">
    <a href="#/contact/view"  class="btn btn-warning  btn-block btn-large">
      <i class="icon-user"></i> Contact</a>
  </div>
</div>
