<div class="row">

  <h1 class="col-sm-12 col-lg-12"><i class="icon-home"></i></h1>

  <tabset>
    <tab heading="Select">
      <form class="top2">
        <fieldset>
          <!-- input type="text" class="form-control"
                 placeholder="Enter client code."
                 ng-model="code" -->
          <span class="contact-summary-cell">
            <ul class="">
              <li>
                {{year}}<span>Financial Year</span>
              </li>
              <li>
                {{clients}}<span> Clients </span>
              </li>
              <li>
                {{properties}}<span> Properties managed by PMS</span>
              </li>

            </ul>
          </span>
          <hr>

          <div class="valuation-summary-cell top2">
            <a ng-repeat="a in actions"
               class="btn btn-large"
               href="#/valuation-report/{{a.from}}/{{a.to}}">
              <span>Generate</span><br>
              <div>{{a.from}} ~ {{a.to}}</div>
            </a>
          </div>


        </fieldset>
      </form>
    </tab>
    <!-- tab heading="Financial Performance">
    </tab -->
  </tabset>




  <div class="col-lg-4">
    <p></p>
  </div>
</div>

