<div class="row">

  <h1 class="col-sm-12 col-lg-12"><i class="fa fa-home"></i> Town suburbs </h1>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <span class="contact-summary-cell">
      <ul class="">
        <li>
          {{townsuburbs.length}}<span>Town suburbs</span>
        </li>
      </ul>
    </span>

  </div>


  <div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>State</label>
      <select class="form-control"
              ng-model="state"
              ng-options="i for i in states">
      </select>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Year</label>
      <select class="form-control"
              ng-model="year"
              ng-options="i for i in years">
      </select>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Type:</label>
      <select class="form-control"
              ng-model="type"
              ng-options="i for i in types">
      </select>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 top2">
    </div>

  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <form class="">
      <table class="table ">

        <tr>
          <th class="colour" align="left">State</th>
          <th class="colour" align="left">Name</th>
          <th class="colour" align="left">Market Value Median Price</th>
        </tr>
        <tr>
          <td align="left">{{state}}</td>
          <td align="left">
            <input type="text" class="form-control"
                   placeholder="Please enter townsuburb.">
          </td>
          <td align="left">
            <input type="number" class="form-control"
                   ng-model="adding.p_townsuburb"
                   placeholder="Please enter market median.">
          </td>
        </tr>
        <tr ng-repeat="t in townsuburbs">
          <td>{{state}}</td>
          <td>{{t.p_townsuburb}}</td>
          <td><input type="number" class="form-control"
                     ng-model="t.p_marketmedian"></td>
        <tr>
      </table>
    </form>
  </div>
</div>

