<div class="row">

  <h1 class="col-sm-12 col-lg-12"><i class="fa fa-home"></i> Town suburbs </h1>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <span class="contact-summary-cell">
      <ul class="">
        <li>
          {{townsuburbs.length}}<span>Town suburbs</span>
        </li>
      </ul>
    </span>

  </div>


  <div>
    <form ng-submit="load()">

    <div class="col-sm-4 col-md-3 col-lg-3">
      <label>State</label>
      <select class="form-control"
              ng-model="state"
              ng-options="i for i in states"
              ng-change="load()">
      </select>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3">
      <label>Year</label>
      <select class="form-control"
              ng-model="year"
              ng-options="i for i in years"
              ng-change="load()">
      </select>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-3">
      <label>Type:</label>
      <select class="form-control"
              ng-model="type"
              ng-options="i for i in types"
              ng-change="load()">
      </select>

    </div>
    <div class="col-sm-4 col-md-3 col-lg-3">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 top2">
      <!-- button class="btn btn-success btn-lg btm1">Load</button -->
    </div>

    </form>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12h">
    <form class=""
          ng-submit="save(form.$valid)"
          name="form">
      <button class="btn btn-info btn-lg btm1">Save</button>
      <table class="table ">
        <tr>
          <th class="colour" align="left">State</th>
          <th class="colour" align="left">Name</th>
          <th class="colour" align="left">Market Value Median Price</th>
        </tr>
        <tr>
          <td align="left">{{state}}</td>
          <td align="left">
            <input type="text" class="form-control"
                   name="adding.p_townsuburb" ng-model="adding.p_townsuburb"
                   placeholder="Please enter townsuburb.">
          </td>
          <td align="left">
            <input type="text" class="form-control"
                   name="adding.p_marketmedian" ng-model="adding.p_marketmedian"
                   placeholder="Please enter market median."
                   min="0" to-number>
          </td>
        </tr>
        <tr ng-repeat="t in townsuburbs">
          <td>{{t.p_state}}</td>
          <td>{{t.p_townsuburb}}</td>
          <td><input type="text" class="form-control"
                     name="p_marketmedian" ng-model="t.p_marketmedian"></td>
        <tr>
      </table>
      <button class="btn btn-info btn-lg btm1">Save</button>
    </form>
  </div>
</div>

