<div class="row valuation-report"
     ng-repeat="c in clients | limitTo:10">

  <h1>Property Value Estimations
    as at 30 June, 2013</h1>
  <div class="col-lg-12 portfolio-summary"
       ng-include="'views/partials/valuation-portfolio-summary.html'"></div>


  <h1>Financial Performance</h1>

  <span ng-repeat="y in years">
    {{y}} | {{y | date:'dd/MM/yyyy'}}<br></span>

  <div ng-repeat="p in c.properties">
    <div class="top2" ng-include="'views/partials/valuation-property.html'"></div>
    <hr>
    <div class=""></div>
  </div>

  <div class="page-break">{{$index%2}}</div>
</div>

<div class="row valuation-report">

  <h1>Property Value Estimations
    as at 30 June, 2013</h1>

  <div class="col-lg-12 portfolio-summary"
       ng-include="'views/partials/portfolio-summary.html'">
  </div>

  <h1>Financial Performance</h1>

  <span ng-repeat="y in years">
    {{y}} | {{y | date:'dd/MM/yyyy'}}<br></span>

  <div class="" ng-include="'views/partials/property-details.html'"></div>

</div>

