<div class="row">
  <h1><i class="fa fa-user"></i> Contacts</h1>

  <input type="text" class="form-control "
         id="propertySearch"
         ng-model="filtering"
         placeholder="Filter contacts"
         select-on-click
         ng-change="filter()"
         autofocus>

  <h3 class="app-light">{{contacts.length}} contacts found.</h3>

  <span class="contact-summary-cell">
    <ul class="" ng-show="total > 0">
      <li>
        {{total}}<span>Contacts</span>
      </li>
      <li>
        {{missingEmail}}<span>Missing email</span>
      </li>
      <li>
        {{missingPhone}}<span>Missing phone</span>
      </li>

    </ul>
  </span>

  <!-- table class="table ">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </table -->

  <div class="contact-list-cell"
       ng-repeat="c in contacts | filter:query | limitTo:limitTo | orderBy:'firstName' ">

    <h5>{{$index+1}}: {{c.firstName}} {{c.lastName}}</h5>

    <address>{{c.contacts.address[0].street}}
      {{c.contacts.address[0].state}} {{c.contacts.address[0].zip}}</address>

    <contact>{{c.contacts.email.emailAddress}} </contact>


    <span>{{c.contacts.phone.phoneNumber}}</span>

    <created>{{date(c.createdOn) | date:'dd/MMM/yy'}} <span>Created on</span></created>
    <created>{{date(c.updatedOn) | date:'dd/MMM/yy'}} <sup>Created on</sup></created>

    <hr>
  </div>
  <button ng-click="loadNext()" ng-show="canLoad">
    <i class="fa fa-search btn btn-sucess btn-large"> Load next</i></button>


  <div class="alert alert-info loading" ng-show="loading">
    <div class="spinner">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
      <div class="bar9"></div>
      <div class="bar10"></div>
      <div class="bar11"></div>
      <div class="bar12"></div>
    </div><br>
    <span>
    Loading contacts from CRM, please wait...</span>
  </div>

</div>


