<div class="row" xmlns="http://www.w3.org/1999/html">
  <h1><i class="fa fa-user"></i> Contacts</h1>

  <input type="text" class="form-control "
         id="propertySearch"
         ng-model="filtering"
         placeholder="Filter contacts"
         select-on-click
         ng-change="filter()"
         autofocus>

  <h3 class="app-light">{{contacts.length}} contacts found.</h3>

  <span class="contact-summary-cell">
<ul class="" ng-show="total > 0">
  <li>
    {{total}}<span>Contacts</span>
  </li>
  <li>
    {{missingEmail}}<span>Missing email</span>
  </li>
  <li>
    {{missingPhone}}<span>Missing phone</span>
  </li>

</ul>
</span>

  <table class="table ">
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Save as..</th>
    </tr>
    <tr ng-repeat="c in contacts | filter:query | limitTo:limitTo | orderBy:'firstName' ">
      <td class="">{{$c.id}}</td>
      <td class="">{{c.firstName}} {{c.lastName}}</td>
      <td class="">{{c.contacts.email.emailAddress}}</td>
      <td>{{c.contacts.phone.phoneNumber}}</td>
      <td>{{date(c.createdOn) | date:'dd/MMM/yy'}}</td>
      <td>{{date(c.updatedOn) | date:'dd/MMM/yy'}}</td>
      <td>
        <li class="dropdown no-list-style">
          <a class="dropdown-toggle">
            Save as
          </a>
          <ul class="dropdown-menu">
            <li><a>Save as Client</a></li>
            <li><a>Save as Referral</a></li>
          </ul>
        </li>
        </td>
    </tr>
  </table>
  <button ng-click="loadNext()" ng-show="canLoad">
    <i class="fa fa-search btn btn-sucess btn-large"> Load next</i></button>


  <div class="alert alert-info loading" ng-show="loading">
    <div class="spinner">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
      <div class="bar9"></div>
      <div class="bar10"></div>
      <div class="bar11"></div>
      <div class="bar12"></div>
    </div><br>
    <span>
    Loading contacts from CRM, please wait...</span>
  </div>

</div>


